
   <main>
    <section class="mt_70 who_banner_container">
       <div class="container_inner">         
          <div class="global_heading">
             <h2 data-aos="fade-right" data-aos-easing="ease" data-aos-delay="400">
                Careers
             </h2>  
             
             <div class="breadcrumb" data-aos="fade-left">
                <ul>
                   <li>     
                      <a>
                         About Us
                      </a>
                   </li>

                   <li>
                      <a href="javascript:;">
                         Careers
                      </a>
                   </li>
                </ul>
             </div>
          </div>

          <div class="who_banner">
             <img src="./assets/images/career-banner.png" alt="Career">
             <div class="heading_inner">
                <h3>Career Opportunities at AstaGuru</h3>
             </div>
             <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
             </p>               
          </div>
       </div>
    </section>

    <section class="mt_70 latest_jobs_container">
       <div class="container_inner">
          <div class="heading_inner" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
             <h3>Latest Jobs at AstaGuru</h3>
          </div>            

          <div class="latestjobs_cont" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
             <div class="latestjobs_slider">
                <div class="swiper-wrapper">
                   <div class="item swiper-slide">
                      <div class="job_head_cont">
                         <div class="job_head">
                            <h4>Job Title 1</h4>
                            <span>July 21, 2021</span>
                         </div>

                         <div class="job_share">
                            <a href="javascript:;">
                               <svg xmlns="http://www.w3.org/2000/svg" width="20.52" height="24.912" viewBox="0 0 20.52 24.912">
                                  <g id="noun_Share_1897039" transform="translate(-31.89 -40.73)">
                                    <g id="Group_954" data-name="Group 954" transform="translate(31.89 40.73)">
                                      <path id="Path_238" data-name="Path 238" d="M42.44,55.717c.455.272,5.6,3.528,5.651,3.57a4.915,4.915,0,0,1,.775-1.209L43.308,54.5a4.085,4.085,0,0,1-.868,1.217Z" transform="translate(-35.397 -40.129)" fill="#272727"/>
                                      <path id="Path_239" data-name="Path 239" d="M49.082,35.794c-.455.272-5.6,3.528-5.651,3.57a4.915,4.915,0,0,0-.77-1.2l5.553-3.579a4.085,4.085,0,0,0,.868,1.2Z" transform="translate(-35.523 -28.692)" fill="#272727"/>
                                      <circle id="Ellipse_237" data-name="Ellipse 237" cx="3.89" cy="3.89" r="3.89" transform="translate(12.733)" fill="#272727"/>
                                      <circle id="Ellipse_238" data-name="Ellipse 238" cx="3.89" cy="3.89" r="3.89" transform="translate(12.741 17.133)" fill="#272727"/>
                                      <circle id="Ellipse_239" data-name="Ellipse 239" cx="3.89" cy="3.89" r="3.89" transform="translate(0 8.571)" fill="#272727"/>
                                    </g>
                                  </g>
                                </svg>
                            </a>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea...
                      </p>

                      <a href="javascript:;" class="btn btn-yellow">Apply Now</a>
                   </div>

                   <div class="item swiper-slide">
                      <div class="job_head_cont">
                         <div class="job_head">
                            <h4>Job Title 1</h4>
                            <span>July 21, 2021</span>
                         </div>

                         <div class="job_share">
                            <a href="javascript:;">
                               <svg xmlns="http://www.w3.org/2000/svg" width="20.52" height="24.912" viewBox="0 0 20.52 24.912">
                                  <g id="noun_Share_1897039" transform="translate(-31.89 -40.73)">
                                    <g id="Group_954" data-name="Group 954" transform="translate(31.89 40.73)">
                                      <path id="Path_238" data-name="Path 238" d="M42.44,55.717c.455.272,5.6,3.528,5.651,3.57a4.915,4.915,0,0,1,.775-1.209L43.308,54.5a4.085,4.085,0,0,1-.868,1.217Z" transform="translate(-35.397 -40.129)" fill="#272727"/>
                                      <path id="Path_239" data-name="Path 239" d="M49.082,35.794c-.455.272-5.6,3.528-5.651,3.57a4.915,4.915,0,0,0-.77-1.2l5.553-3.579a4.085,4.085,0,0,0,.868,1.2Z" transform="translate(-35.523 -28.692)" fill="#272727"/>
                                      <circle id="Ellipse_237" data-name="Ellipse 237" cx="3.89" cy="3.89" r="3.89" transform="translate(12.733)" fill="#272727"/>
                                      <circle id="Ellipse_238" data-name="Ellipse 238" cx="3.89" cy="3.89" r="3.89" transform="translate(12.741 17.133)" fill="#272727"/>
                                      <circle id="Ellipse_239" data-name="Ellipse 239" cx="3.89" cy="3.89" r="3.89" transform="translate(0 8.571)" fill="#272727"/>
                                    </g>
                                  </g>
                                </svg>
                            </a>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea...
                      </p>

                      <a href="javascript:;" class="btn btn-yellow">Apply Now</a>
                   </div>

                   <div class="item swiper-slide">
                      <div class="job_head_cont">
                         <div class="job_head">
                            <h4>Job Title 1</h4>
                            <span>July 21, 2021</span>
                         </div>

                         <div class="job_share">
                            <a href="javascript:;">
                               <svg xmlns="http://www.w3.org/2000/svg" width="20.52" height="24.912" viewBox="0 0 20.52 24.912">
                                  <g id="noun_Share_1897039" transform="translate(-31.89 -40.73)">
                                    <g id="Group_954" data-name="Group 954" transform="translate(31.89 40.73)">
                                      <path id="Path_238" data-name="Path 238" d="M42.44,55.717c.455.272,5.6,3.528,5.651,3.57a4.915,4.915,0,0,1,.775-1.209L43.308,54.5a4.085,4.085,0,0,1-.868,1.217Z" transform="translate(-35.397 -40.129)" fill="#272727"/>
                                      <path id="Path_239" data-name="Path 239" d="M49.082,35.794c-.455.272-5.6,3.528-5.651,3.57a4.915,4.915,0,0,0-.77-1.2l5.553-3.579a4.085,4.085,0,0,0,.868,1.2Z" transform="translate(-35.523 -28.692)" fill="#272727"/>
                                      <circle id="Ellipse_237" data-name="Ellipse 237" cx="3.89" cy="3.89" r="3.89" transform="translate(12.733)" fill="#272727"/>
                                      <circle id="Ellipse_238" data-name="Ellipse 238" cx="3.89" cy="3.89" r="3.89" transform="translate(12.741 17.133)" fill="#272727"/>
                                      <circle id="Ellipse_239" data-name="Ellipse 239" cx="3.89" cy="3.89" r="3.89" transform="translate(0 8.571)" fill="#272727"/>
                                    </g>
                                  </g>
                                </svg>
                            </a>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea...
                      </p>

                      <a href="javascript:;" class="btn btn-yellow">Apply Now</a>
                   </div>

                   <div class="item swiper-slide">
                      <div class="job_head_cont">
                         <div class="job_head">
                            <h4>Job Title 1</h4>
                            <span>July 21, 2021</span>
                         </div>

                         <div class="job_share">
                            <a href="javascript:;">
                               <svg xmlns="http://www.w3.org/2000/svg" width="20.52" height="24.912" viewBox="0 0 20.52 24.912">
                                  <g id="noun_Share_1897039" transform="translate(-31.89 -40.73)">
                                    <g id="Group_954" data-name="Group 954" transform="translate(31.89 40.73)">
                                      <path id="Path_238" data-name="Path 238" d="M42.44,55.717c.455.272,5.6,3.528,5.651,3.57a4.915,4.915,0,0,1,.775-1.209L43.308,54.5a4.085,4.085,0,0,1-.868,1.217Z" transform="translate(-35.397 -40.129)" fill="#272727"/>
                                      <path id="Path_239" data-name="Path 239" d="M49.082,35.794c-.455.272-5.6,3.528-5.651,3.57a4.915,4.915,0,0,0-.77-1.2l5.553-3.579a4.085,4.085,0,0,0,.868,1.2Z" transform="translate(-35.523 -28.692)" fill="#272727"/>
                                      <circle id="Ellipse_237" data-name="Ellipse 237" cx="3.89" cy="3.89" r="3.89" transform="translate(12.733)" fill="#272727"/>
                                      <circle id="Ellipse_238" data-name="Ellipse 238" cx="3.89" cy="3.89" r="3.89" transform="translate(12.741 17.133)" fill="#272727"/>
                                      <circle id="Ellipse_239" data-name="Ellipse 239" cx="3.89" cy="3.89" r="3.89" transform="translate(0 8.571)" fill="#272727"/>
                                    </g>
                                  </g>
                                </svg>
                            </a>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea...
                      </p>

                      <a href="javascript:;" class="btn btn-yellow">Apply Now</a>
                   </div>
                </div>
             </div>

             <div class="global_heading">
                <div class="auction_nav">
                   <div class="latestjobs-prev swiper-button-prev slider_nav"></div>
                   <div class="latestjobs-next swiper-button-next slider_nav"></div>
                </div>
             </div>               
          </div>
       </div>
    </section>   
    
    <section class="mt-70 workenv_container">
       <div class="container_inner">
          <div class="left_sec">
             <div class="heading_inner" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
                <h3>Work Environment</h3>
                <p>
                   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur...
                </p>
             </div>
          </div>

          <div class="right_sec" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="300">
             <img src="./assets/images/workenv.png" alt="Work Environment"/>

             <a class="playBtn" data-url="https://www.youtube.com/embed/bKAWyBqIE9s" href="javascript:;">
                <img src="./assets/images/play.svg" alt="Play Button" title="Play Button"/>
             </a>               
          </div>
       </div>
    </section>

    <section class="mt_70 employee_container">
       <div class="container_inner">
          <div class="heading_inner" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
             <h3>Employee Says</h3>

             <div class="global_heading">
                <div class="auction_nav">
                   <div class="employee-prev swiper-button-prev slider_nav"></div>
                   <div class="employee-next swiper-button-next slider_nav"></div>
                </div>
             </div>  
          </div>            

          <div class="employee_cont" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
             <div class="employee_slider">
                <div class="swiper-wrapper">
                   <div class="item swiper-slide">
                      <div class="employeehead_cont">
                         <div class="employee_img">
                            <img src="./assets/images/emp1.png" alt="Sameer Malhotra"/>
                         </div>

                         <div class="employee_name">
                            <h4>Sameer Malhotra</h4>
                            <span>Designation</span>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                      </p>  
                      
                      <div class="quote_icon">
                         <img src="./assets/images/quote-black.svg" alt="quote">
                      </div>
                   </div>
                   
                   <div class="item swiper-slide">
                      <div class="employeehead_cont">
                         <div class="employee_img">
                            <img src="./assets/images/emp2.png" alt="Priyanka Shetty"/>
                         </div>

                         <div class="employee_name">
                            <h4>Priyanka Shetty</h4>
                            <span>Designation</span>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                      </p>  
                      
                      <div class="quote_icon">
                         <img src="./assets/images/quote-black.svg" alt="quote">
                      </div>
                   </div>

                   <div class="item swiper-slide">
                      <div class="employeehead_cont">
                         <div class="employee_img">
                            <img src="./assets/images/emp3.png" alt="Pratik Thakur"/>
                         </div>

                         <div class="employee_name">
                            <h4>Pratik Thakur</h4>
                            <span>Designation</span>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                      </p>  
                      
                      <div class="quote_icon">
                         <img src="./assets/images/quote-black.svg" alt="quote">
                      </div>
                   </div>

                   <div class="item swiper-slide">
                      <div class="employeehead_cont">
                         <div class="employee_img">
                            <img src="./assets/images/emp1.png" alt="Sameer Malhotra"/>
                         </div>

                         <div class="employee_name">
                            <h4>Sameer Malhotra</h4>
                            <span>Designation</span>
                         </div>
                      </div>

                      <p>
                         Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                      </p>  
                      
                      <div class="quote_icon">
                         <img src="./assets/images/quote-black.svg" alt="quote">
                      </div>
                   </div>
                </div>
             </div>                            
          </div>
       </div>
    </section>

    <section class="mt_70 workenv_container applyjob_cont">
       <div class="container_inner">
          <div class="left_sec" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
             <div class="heading_inner" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="400">
                <h3>Apply for Job</h3>
                <p>
                   Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur...
                </p>
             </div>
          </div>

          <div class="right_sec" data-aos="fade-left" data-aos-easing="ease" data-aos-delay="400">
             <form class="white_form">
                <ul>
                   <li>
                      <div class="custom_input">
                         <input type="text" placeholder="Tell us about yourself"/>
                      </div>                        
                   </li>

                   <li>
                      <div class="custom_input">
                         <input type="text" />
                      </div>
                   </li>

                   <li class="">
                      <div class="custom_input custom_file file_sec">
                         <input type="text" placeholder="Upload PAN Card">                           
                         <div class="fileUpload">
                            <input type="file" class="upload">
                            <span>Browse</span>
                         </div>                           
                      </div>   
                   </li>
                </ul>
             </form>
          </div>
       </div>
    </section>

    <section class="mt_70 subscribe_container">
       <div class="subscribe_content">
          <h4>Subscribe to our Newsletter</h4>
          <p>
             Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>

          <form>
             <ul>
                <li>
                   <img src="./assets/images/name.svg" alt="name"/>
                   <input type="text" placeholder="name"/>
                </li>

                <li>
                   <img src="./assets/images/email.svg" alt="email"/>
                   <input type="text" placeholder="email"/>
                </li>

                <li>
                   <input type="submit" value="submit" class="btn btn-yellow"/>
                </li>
             </ul>
          </form>
       </div>
    </section>
    
    <section class="login_reg_sec">
       <div class="login_form_sec">
          <button class="closeBtn">X</button>
          <h3>Login</h3>
          <form>
             <ul>
                <li>
                   <input type="text" placeholder="Full Name"/>
                </li>

                <li>
                   <input type="text" placeholder="Phone Number"/>
                </li>

                <li>
                   <input type="submit" value="Get Otp" class="btn btn-yellow"/>
                </li>
             </ul>
          </form>

          <div class="create_acc">
             <a href="javascript:;" class="create_acc_btn">Create New Account</a>
          </div>            
       </div>

       <div class="reg_form_sec">
          <button class="closeBtn">X</button>
          <h3>Register</h3>
          <form>
             <ul>
                <li>
                   <input type="text" placeholder="First Name"/>
                </li>

                <li>
                   <input type="text" placeholder="Last Name"/>
                </li>

                <li>
                   <input type="text" placeholder="Email Id"/>
                </li>

                <li class="password_sec">
                   <input type="password" placeholder="Enter Password"/>
                   <a href="javascript:;"><img src="./assets/images/showpassword.png" alt="Show Password" title="Show Password"></a>
                </li>

                <li class="password_sec">
                   <input type="password" placeholder="Confirm Password"/>
                   <a href="javascript:;"><img src="./assets/images/showpassword.png" alt="Show Password" title="Show Password"></a>
                </li>

                <li>
                   <input type="text" placeholder="Phone Number"/>
                </li>

                <li>
                   <input type="submit" value="Next" class="btn btn-yellow"/>
                </li>
             </ul>
          </form>

          <div class="create_acc">
             <a href="javascript:;" class="user_acc_btn">Already a User? Login</a>
          </div>            
       </div>
    </section>

    <div class="overlay"></div>      
 </main>
 