<header>
    <div class="sub_header">
        <div class="container">
            <ul>
                <li>
                    <a href="javascript:;">About Us <span>+</span></a>
                    <div class="sub_nav">
                        <ul>
                            <li><a href="javascript:;">Who We Are</a></li>
                            <li><a href="javascript:;">Press</a></li>
                            <li><a href="javascript:;">Careers</a></li>
                            <li><a href="javascript:;">Our Collections</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="javascript:;">Discover <span>+</span></a>
                    <div class="sub_nav">
                        <ul>
                            <li><a href="javascript:;">Artists Profile</a></li>
                            <li><a href="javascript:;">Record Price Artwork</a></li>
                            <li><a href="javascript:;">News & Videos</a></li>
                            <li><a href="javascript:;">Blogs</a></li>
                            <li><a href="javascript:;">Art Movement</a></li>
                            <li><a href="javascript:;">FAQs</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="javascript:;">Reach Us</a></li>
                <li><a href="javascript:;">eng <span>+</span></a></li>
            </ul>
        </div>
    </div>

    <div class="main_header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="./assets/images/logo.png" alt="Astaguru" title="Astaguru">
                </a>
            </div>

            <div class="nav">
                <ul class="nav_list">
                    <li>
                        <a href="javascript:;">Auctions <span>+</span></a>
                        <div class="sub_nav_container">
                            <ul>
                                <li><a href="javascript:;">Live</a></li>
                                <li><a href="javascript:;">Upcoming</a></li>
                                <li><a href="javascript:;">Action Results</a></li>
                                <li><a href="javascript:;">Action Guide</a></li>
                                <li><a href="javascript:;">Department</a></li>
                            </ul>

                            <img src="./assets/images/5mctuy24.png" alt="Sub Nav" />
                        </div>
                    </li>

                    <li>
                        <a href="javascript:;">Buy</a>
                    </li>

                    <li>
                        <a href="javascript:;">Sell</a>
                    </li>

                    <li>
                        <a href="javascript:;">Private Sales</a>
                    </li>

                    <li>
                        <a href="javascript:;">Services <span>+</span></a>
                        <div class="sub_nav_container">
                            <ul>
                                <li><a href="javascript:;">CLIENT ADVISORY</a></li>
                                <li><a href="javascript:;">RESTORATION</a></li>
                                <li><a href="javascript:;">COLLECTION SERVICES</a></li>
                            </ul>

                            <img src="./assets/images/subnav2.png" alt="Sub Nav" />
                        </div>
                    </li>
                </ul>
            </div>

            <div class="login_sec">
                <a *ngIf="!userDetails" href="javascript:;" class="btn btn-yellow login_btn">Login / Register</a>
                <!-- <span *ngIf="userDetails && userDetails.id > 0">Hi ! {{userDetails.first_name}}</span> -->
                <span *ngIf="userDetails && userDetails.id > 0" (click)="logout()" class="btn btn-yellow login_btn">Log out</span>

                <a href="javascript:;" class="login_icon_btn">
                    <img src="./assets/images/login.png" alt="Login" />
                </a>

                <a href="javascript:;" class="search_btn">
                    <img src="./assets/images/search.svg" alt="Search" />
                </a>

                <div class="search_box">
                    <input type="text" placeholder="search" />
                    <a href="javascript:;">
                        <img src="./assets/images/close.svg" alt="close" title="Close">
                    </a>
                </div>

                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="container main_footer">
        <div class="footer_list">
            <h5>Know More</h5>
            <ul>
                <li><a href="javascript:;">Buy</a></li>
                <li><a href="javascript:;">Sell</a></li>
                <li><a href="javascript:;">Request an Estimate</a></li>
                <li><a href="javascript:;">FAQs</a></li>
                <li><a href="javascript:;">Blog</a></li>
                <li><a href="javascript:;">Shipping</a></li>
                <li><a href="javascript:;">Storage</a></li>
            </ul>
        </div>

        <div class="footer_list">
            <h5>Services</h5>
            <ul>
                <li><a href="javascript:;">Client Advisory</a></li>
                <li><a href="javascript:;">Restoration</a></li>
                <li><a href="javascript:;">Collection Services</a></li>
                <li><a href="javascript:;">Museum Services</a></li>
                <li><a href="javascript:;">Post Sale Services</a></li>
                <li><a href="javascript:;">Private Sales</a></li>
                <li><a href="javascript:;">Storage</a></li>
                <li><a href="javascript:;">Valuation</a></li>
            </ul>
        </div>

        <div class="footer_list">
            <h5>About</h5>
            <ul>
                <li><a href="javascript:;">Who we are</a></li>
                <li><a href="javascript:;">Our Management</a></li>
                <li><a href="javascript:;">Press</a></li>
                <li><a href="javascript:;">Careers</a></li>
            </ul>
        </div>

        <div class="footer_list">
            <h5>Download App</h5>

            <div class="app_links">
                <a href="javascript:;" target="_blank">
                    <img src="./assets/images/android-app.svg" alt="Google Play" />
                </a>

                <a href="javascript:;" target="_blank">
                    <img src="./assets/images/ios-app.svg" alt="Apple Store" />
                </a>
            </div>

            <div class="social_links">
                <h5>Follow Us</h5>
                <a href="javascript:;" target="_blank">
                    <img src="./assets/images/insta.svg" alt="Instagram" />
                </a>

                <a href="javascript:;" target="_blank">
                    <img src="./assets/images/tweet.svg" alt="Twitter" />
                </a>

                <a href="javascript:;" target="_blank">
                    <img src="./assets/images/facebook.svg" alt="Facebook" />
                </a>
            </div>
        </div>
    </div>

    <div class="sub_footer">
        <div class="container">
            <div class="left_sec">
                <ul>
                    <li><a href="javascript:;">Terms & Conditions</a></li>
                    <li><a href="javascript:;">Privacy Policy</a></li>
                    <li><a href="javascript:;">Disclaimer</a></li>
                    <li><a href="javascript:;">Cookie Policy</a></li>
                </ul>
            </div>

            <div class="right_sec">
                <p>
                    Copyright 2021 Astaguru. All Rights Reserved
                </p>
            </div>
        </div>
    </div>

</footer>