
   <main>
      <section class="mt_70 who_banner_container">
         <div class="container_inner">         
            <div class="global_heading">
               <h2 data-aos="fade-right" data-aos-easing="ease" data-aos-delay="400">
                  Who we are
               </h2>  
               
               <div class="breadcrumb" data-aos="fade-left">
                  <ul>
                     <li>     
                        <a>
                           About Us
                        </a>
                     </li>

                     <li>
                        <a href="javascript:;">
                           Who we are
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="who_banner">
               <img src="./assets/images/whoweare.png" alt="Who we are">
               <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
               </p>

               <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
               </p>

               <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
               </p>
            </div>
         </div>
      </section>

      <section class="mt_70 culture_container">
         <div class="container_inner">
            <div class="heading_inner" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
               <h3>Culture at AstaGuru</h3>
            </div>

            <div class="culture_content" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
               <div class="left_sec">
                  <div class="culture_slider">                  
                     <div class="swiper-wrapper">
                        <div class="item swiper-slide">
                           <img src="./assets/images/culture.png" alt="Culture at AstaGuru">
                        </div>

                        <div class="item swiper-slide">
                           <img src="./assets/images/culture.png" alt="Culture at AstaGuru">
                        </div>

                        <div class="item swiper-slide">
                           <img src="./assets/images/culture.png" alt="Culture at AstaGuru">
                        </div>
                     </div>
                  </div>

                  <div class="global_heading">
                     <div class="auction_nav">
                        <div class="culture-prev swiper-button-prev slider_nav"></div>
                        <div class="culture-next swiper-button-next slider_nav"></div>                  
                     </div>
                  </div>                  
               </div>

               <div class="right_sec">
                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                  </p>

                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                  </p>
               </div>

               <div class="culture_text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                  </p>

                  <p>
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                  </p>
               </div>
            </div>
         </div>
      </section>

      <section class="mt_70 values_container">
         <div class="container_inner">
            <div class="values_cont">
               <div class="left_sec" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
                  <div class="heading_inner">
                     <h3>Our Values</h3>
                  </div>

                  <div class="value_content">
                     <div class="value_slider">
                        <div class="swiper-wrapper">
                           <div class="item swiper-slide">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                              </p>
                           </div>

                           <div class="item swiper-slide">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                              </p>
                           </div>

                           <div class="item swiper-slide">
                              <p>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                              </p>
                           </div>
                        </div>
                     </div>

                     <div class="global-pagination"></div>
                  </div>
               </div>

               <div class="right_sec">
                  <div class="value_slider">
                     <div class="swiper-wrapper">
                        <div class="item swiper-slide">
                           <img src="./assets/images/values.png" alt="Our Values"/>
                        </div>

                        <div class="item swiper-slide">
                           <img src="./assets/images/values.png" alt="Our Values"/>
                        </div>

                        <div class="item swiper-slide">
                           <img src="./assets/images/values.png" alt="Our Values"/>
                        </div>
                     </div>
                  </div>
               </div>               
            </div>
         </div>
      </section>

      <section class="mt_70 management_container">
         <div class="container_inner">
            <div class="heading_inner" data-aos="fade-right" data-aos-easing="ease" data-aos-delay="300">
               <h3>Management</h3>
            </div>

            <div class="management_content" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
               <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
               </p>

               <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
               </p>
            </div>

            <div class="management_team" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
               <ul>
                  <li>
                     <img src="./assets/images/team1.png" alt=""/>
                     <div class="management_content">
                        <h4>
                           Chirag Bali
                           <span>Senior Manager</span>
                        </h4>

                        <a href="javascript:;">
                           <span class="icon_cont">
                              <svg xmlns="http://www.w3.org/2000/svg" width="26.5" height="18.298" viewBox="0 0 26.5 18.298">
                                 <g id="noun_Email_1778559" transform="translate(-8 -21)">
                                 <g id="Group_1274" data-name="Group 1274" transform="translate(8 21)">
                                    <path id="Path_310" data-name="Path 310" d="M10.524,973.362A2.566,2.566,0,0,0,8,975.955v13.1a2.574,2.574,0,0,0,2.524,2.6H31.976a2.574,2.574,0,0,0,2.524-2.6v-13.1a2.566,2.566,0,0,0-2.524-2.593Zm0,1.262H31.976a1.253,1.253,0,0,1,.523.118l-10.43,9.651a1.133,1.133,0,0,1-1.607,0l-10.45-9.651A1.248,1.248,0,0,1,10.524,974.624Zm-1.242,1.163,7.4,6.842L9.42,989.7a1.409,1.409,0,0,1-.158-.641v-13.1a1.45,1.45,0,0,1,.02-.168Zm23.937.01a1.431,1.431,0,0,1,.02.158v13.1a1.417,1.417,0,0,1-.148.631l-7.246-7.069,7.374-6.822Zm-8.291,7.67,7.088,6.931H10.494l7.118-6.921L19.6,985.32a2.451,2.451,0,0,0,3.322,0l2-1.854Z" transform="translate(-8 -973.362)" fill="#272727"/>
                                 </g>
                                 </g>
                              </svg>
                           </span>
                           <span>chirag.bali@astaguru.com</span>  
                        </a>                       
                     </div>
                  </li>

                  <li>
                     <img src="./assets/images/team2.png" alt=""/>
                     <div class="management_content">
                        <h4>
                           Seema Vhora
                           <span>Public Relations</span>
                        </h4>

                        <a href="javascript:;">
                           <span class="icon_cont">
                              <svg xmlns="http://www.w3.org/2000/svg" width="26.5" height="18.298" viewBox="0 0 26.5 18.298">
                                 <g id="noun_Email_1778559" transform="translate(-8 -21)">
                                 <g id="Group_1274" data-name="Group 1274" transform="translate(8 21)">
                                    <path id="Path_310" data-name="Path 310" d="M10.524,973.362A2.566,2.566,0,0,0,8,975.955v13.1a2.574,2.574,0,0,0,2.524,2.6H31.976a2.574,2.574,0,0,0,2.524-2.6v-13.1a2.566,2.566,0,0,0-2.524-2.593Zm0,1.262H31.976a1.253,1.253,0,0,1,.523.118l-10.43,9.651a1.133,1.133,0,0,1-1.607,0l-10.45-9.651A1.248,1.248,0,0,1,10.524,974.624Zm-1.242,1.163,7.4,6.842L9.42,989.7a1.409,1.409,0,0,1-.158-.641v-13.1a1.45,1.45,0,0,1,.02-.168Zm23.937.01a1.431,1.431,0,0,1,.02.158v13.1a1.417,1.417,0,0,1-.148.631l-7.246-7.069,7.374-6.822Zm-8.291,7.67,7.088,6.931H10.494l7.118-6.921L19.6,985.32a2.451,2.451,0,0,0,3.322,0l2-1.854Z" transform="translate(-8 -973.362)" fill="#272727"/>
                                 </g>
                                 </g>
                              </svg>
                           </span>
                           <span>seema.vhora@astaguru.com</span>  
                        </a>                       
                     </div>
                  </li>

                  <li>
                     <img src="./assets/images/team3.png" alt=""/>
                     <div class="management_content">
                        <h4>
                           Sahil Dev
                           <span>Human Resource</span>
                        </h4>

                        <a href="javascript:;">
                           <span class="icon_cont">
                              <svg xmlns="http://www.w3.org/2000/svg" width="26.5" height="18.298" viewBox="0 0 26.5 18.298">
                                 <g id="noun_Email_1778559" transform="translate(-8 -21)">
                                 <g id="Group_1274" data-name="Group 1274" transform="translate(8 21)">
                                    <path id="Path_310" data-name="Path 310" d="M10.524,973.362A2.566,2.566,0,0,0,8,975.955v13.1a2.574,2.574,0,0,0,2.524,2.6H31.976a2.574,2.574,0,0,0,2.524-2.6v-13.1a2.566,2.566,0,0,0-2.524-2.593Zm0,1.262H31.976a1.253,1.253,0,0,1,.523.118l-10.43,9.651a1.133,1.133,0,0,1-1.607,0l-10.45-9.651A1.248,1.248,0,0,1,10.524,974.624Zm-1.242,1.163,7.4,6.842L9.42,989.7a1.409,1.409,0,0,1-.158-.641v-13.1a1.45,1.45,0,0,1,.02-.168Zm23.937.01a1.431,1.431,0,0,1,.02.158v13.1a1.417,1.417,0,0,1-.148.631l-7.246-7.069,7.374-6.822Zm-8.291,7.67,7.088,6.931H10.494l7.118-6.921L19.6,985.32a2.451,2.451,0,0,0,3.322,0l2-1.854Z" transform="translate(-8 -973.362)" fill="#272727"/>
                                 </g>
                                 </g>
                              </svg>
                           </span>
                           <span>seema.vhora@astaguru.com</span>  
                        </a>                       
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </section>

      <section class="mt_70 subscribe_container">
         <div class="subscribe_content">
            <h4>Subscribe to our Newsletter</h4>
            <p>
               Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
            </p>

            <form>
               <ul>
                  <li>
                     <img src="./assets/images/name.svg" alt="name"/>
                     <input type="text" placeholder="name"/>
                  </li>

                  <li>
                     <img src="./assets/images/email.svg" alt="email"/>
                     <input type="text" placeholder="email"/>
                  </li>

                  <li>
                     <input type="submit" value="submit" class="btn btn-yellow"/>
                  </li>
               </ul>
            </form>
         </div>
      </section>
      
      <section class="login_reg_sec">
         <div class="login_form_sec">
            <button class="closeBtn">X</button>
            <h3>Login</h3>
            <form>
               <ul>
                  <li>
                     <input type="text" placeholder="Full Name"/>
                  </li>

                  <li>
                     <input type="text" placeholder="Phone Number"/>
                  </li>

                  <li>
                     <input type="submit" value="Get Otp" class="btn btn-yellow"/>
                  </li>
               </ul>
            </form>

            <div class="create_acc">
               <a href="javascript:;" class="create_acc_btn">Create New Account</a>
            </div>            
         </div>

         <div class="reg_form_sec">
            <button class="closeBtn">X</button>
            <h3>Register</h3>
            <form>
               <ul>
                  <li>
                     <input type="text" placeholder="First Name"/>
                  </li>

                  <li>
                     <input type="text" placeholder="Last Name"/>
                  </li>

                  <li>
                     <input type="text" placeholder="Email Id"/>
                  </li>

                  <li class="password_sec">
                     <input type="password" placeholder="Enter Password"/>
                     <a href="javascript:;"><img src="./assets/images/showpassword.png" alt="Show Password" title="Show Password"></a>
                  </li>

                  <li class="password_sec">
                     <input type="password" placeholder="Confirm Password"/>
                     <a href="javascript:;"><img src="./assets/images/showpassword.png" alt="Show Password" title="Show Password"></a>
                  </li>

                  <li>
                     <input type="text" placeholder="Phone Number"/>
                  </li>

                  <li>
                     <input type="submit" value="Next" class="btn btn-yellow"/>
                  </li>
               </ul>
            </form>

            <div class="create_acc">
               <a href="javascript:;" class="user_acc_btn">Already a User? Login</a>
            </div>            
         </div>
      </section>

      <div class="overlay"></div>      
   </main>
   